@{
    ViewData["Title"] = "404";
}
<style>
    section {
        overflow: hidden;
        margin: 0;
        background: rgb(31, 31, 31);
        height: 100vh;
        background-image: url("/assets/img/error.jpg");
        background-repeat: repeat;
        animation: noise 230ms steps(6) infinite;
    }
</style>
<section>
    <div class="main-container box" style="text-align: center">
        <div class="glitch-wrapper">
            <div class="glitch-text">
                ERROR 404: Not found!
            </div>
        </div>
        <a id="button_404" asp-controller="Home" asp-action="Index">
           Homepage
        </a>
    </div>
</section>