@{ ViewData["Title"] = "Add Product"; }
@model AddProductFormModel

<section>
    <div class="container main-container">
        <div class="section-title" align="center">
            <p>Add <span style="color: rgb(235, 56, 56)">New</span> Product</p>
        </div>
        <form method="Post" enctype="multipart/form-data"  style="color: white">

            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group mb-3">
                        <label class="mb-1" asp-for="Name">Model</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter the model here (HL 118 BR etc.) ">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="form-group  mb-3">
                        <label class="mb-1" asp-for="Description" style="color: white">Description</label>
                        <div  style="background-color: white" >
                            <textarea id="summernote" asp-for="Description" ></textarea>
                        </div>
                        <span asp-validation-for="Description" class="small text-danger"></span>
                    </div>
                    <div class="form-group  mb-3">

                        <span asp-validation-for="Price" class="small text-danger"></span>
                    </div>

                    <label class="mb-1" asp-for="Price">Price (Euro)</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" class="form-control" placeholder="Enter the price here">
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1" asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ProfileImage" class="control-label mb-1"></label>
                        <input asp-for="ProfileImage" class="form-control" type="file">
                        <span asp-validation-for="ProfileImage" class="small text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CompressedProfileImage" class="control-label mb-1"></label>
                        <input asp-for="CompressedProfileImage" class="form-control" type="file">
                        <span asp-validation-for="CompressedProfileImage" class="text-danger"></span>
                        <small class="custom-file-label" style="font-size: 14px; color: yellow">Choose Compressed Profile image - 25x25</small>
                      
                    </div>

                    <div class="mb-3">
                        <label asp-for="Images" for="formFileMultiple" class="form-label"></label>
                        <input  asp-for="Images" class="form-control" type="file" id="formFileMultiple" multiple>
                        <span asp-validation-for="Images" class="text-danger"></span>
                        <br/>
                        <small style="font-size: 14px; color: yellow">The Name MUST be in this format: <span style="font-weight: bold; color: red"> <span style="color: lightgreen">name</span>_<span style="color: lightblue">color</span>.<span style="color: orange">number</span>.<span style="color: lightpink">extension</span></span> </small>
                       <br/>
                       <small style="font-size: 14px; color: yellow">Example:  <br /><span style="font-weight: bold; color: red"> <span style="color: lightgreen">bp118</span>_<span style="color: lightblue">black</span>.<span style="color: orange">36</span>.<span style="color: lightpink">jpg</span></span></small>
                        <br/>
                        <small style="font-size: 14px; color: yellow">
                            <span style="font-weight: bold; color: red"> <span style="color: lightgreen">bp118</span>_<span style="color: lightblue">blackandred</span>.<span style="color: orange">36</span>.<span style="color: lightpink">jpg</span></span>
                        </small>
                        <br/>
                        <small style="font-size: 14px; color: yellow">For 360 Deg. view, every color MUST have <span style="font-weight: bold; color: red">73 images</span>.</small>
                    </div>


                    <div class="mb-3">
                        <label asp-for="ProductData" class="control-label mb-1">Product Data (NOT Required)</label>
                        <input asp-for="ProductData" class="form-control" type="file">
                        <span asp-validation-for="ProductData" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="EASEData" class="control-label mb-1">EASE Data (NOT Required)</label>
                        <input asp-for="EASEData" class="form-control" type="file">
                        <span asp-validation-for="EASEData" class="small text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Manual" class="control-label mb-1">Manual (NOT Required)</label>
                        <input asp-for="Manual" class="form-control" type="file">
                        <span asp-validation-for="Manual" class="small text-danger"></span>
                    </div>
                    
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="New">
                        <label asp-for="New" class="form-check-label" for="exampleCheck1">Is this a NEW product?</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="mb-1" asp-for="Specifications" style="align-self: center">Specifications</label>

                    <div id="SpecificationContainer" class="row mb-3">
                        <div class="col-4 form-group  mb-1">
                            <input class="form-control inputSpecification" onchange="checkFilled()" placeholder="Example: Type" name="Specifications[0].SpecificationName"/>
                        </div>
                        <div class="col-8 form-group  mb-1">
                            <input class="form-control inputSpecification" onchange="checkFilled()" placeholder="Example: Horn/Reflex loaded sub-woofer" name="Specifications[0].SpecificationDescription"/>
                        </div>
                        <span asp-validation-for="Specifications" class="small text-danger"></span>
                    </div>

                    <a class="btn btn-danger float-start" onclick="DeleteSpecification()">Delete last line</a>
                    <a class="btn btn-primary float-end" onclick="AddMoreSpecification();checkFilled();">Add new line</a>
                </div>
            </div>
            <br/>
            <input class="btn btn-success float-end" type="submit" value="Save">
        </form>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change",
            function() {
                const fileName = window.$(this).val().split("\\").pop();
                window.$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

        $(document).ready(function() {
            $('#summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        });

        let specificationIndex = 1;

        function AddMoreSpecification() {
            $("#SpecificationContainer")
                .append(`<div class='col-4 form-group mb-1'> <input class='form-control inputSpecification'  onchange='checkFilled()' placeholder='Example: Type' name='Specifications[${specificationIndex
                    }].SpecificationName' /> </div> <div class='col-8 form-group mb-1'> <input class='form-control inputSpecification'  onchange='checkFilled()'  placeholder='Example: Horn/Reflex loaded sub-woofer' name='Specifications[${
                    specificationIndex}].SpecificationDescription' /> </div>`);
            specificationIndex++;
        }

        function DeleteSpecification() {
            const container = document.getElementById('SpecificationContainer');
            container.removeChild(container.lastElementChild);
            container.removeChild(container.lastElementChild);
            specificationIndex--;
        }

        function checkFilled() {

            var inputValues = document.getElementsByClassName("inputSpecification");
            for (var inputVal of inputValues) {
                if (inputVal.value === "") {
                    inputVal.style.backgroundColor = "rgba(230, 158, 158,1)";
                } else {
                    inputVal.style.backgroundColor = "";
                }
            }

        }

        checkFilled();
    </script>
}