@{ ViewData["Title"] = "Edit Festival"; }

@model EditFestivalFormModel

<section>
    <div class="container" style="padding: 120px 100px 0">
        <div class="section-title" align="center">
            <p style="color: white">Edit <span style="color: red">@Model.Name</span></p>
        </div>
        <form method="Post" enctype="multipart/form-data" style="color: white">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group mb-3">
                <label class="mb-1" asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter the Name of the festival here (example: Voov)">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3" inline="true">
                <label class="mb-1" asp-for="Date">Date</label>
                <input asp-for="Date" placeholder="Select date" type="date" id="example" class="form-control">

                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="mb-1" asp-for="CountryId"></label>
                <select asp-for="CountryId" class="form-control">
                    @foreach (var country in Model.Countries.OrderBy(a => a.Name))
                    {
                        <option value="@country.Id">@country.Name</option>}
                </select>
            </div>

            <input class="btn btn-primary float-end" type="submit" value="Save">
        </form>
    </div>
</section>

@* ReSharper disable once Razor.SectionNotResolved *@
@section scripts{
    <script type="text/javascript">// Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change",
            function() {
                const fileName = window.$(this).val().split("\\").pop();
                window.$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });</script>
}