@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section>
    <div class="container main-container">
        <div class="gandalf">
            <div class="fireball"></div>
            <div class="skirt"></div>
            <div class="sleeves"></div>
            <div class="shoulders">
                <div class="hand left"></div>
                <div class="hand right"></div>
            </div>
            <div class="head">
                <div class="hair"></div>
                <div class="beard"></div>
            </div>
        </div>
        <div class="message" style="text-align: center; font-family: 'Open Sans'; color: #fff; font-size: 1.3rem;">
            <h1 style="font-size: 2.5rem;"><span style="font-weight: bold; color: #E31E24">403</span> - You Shall Not Pass!</h1>
            <p>Uh oh, Gandalf is blocking the way!<br />Maybe you have a typo in the url? Or you meant to go to a different location?</p>
        </div>
    </div>
</section>