@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "Email confirmed"; }

<section class="inner-page">
    <div class="container">
        <div class="center" style="padding: 200px 100px 100px">

            <div class="section-title" align="center">
                <p style="color: red">Email confirmed</p>
                <p style="color: white; font-size: 15px">You can now login to your account.</p>
            </div>
        </div>
    </div>
</section>