@page
@model RegisterConfirmationModel
@{ ViewData["Title"] = "Register confirmation"; }

<section class="inner-page">
    <div class="container">
        <div class="center" style="padding: 200px 100px 100px">

            <div class="section-title" align="center">
                <p style="color: red">@ViewData["Title"]</p>
                <p style="color: white; font-size: 15px">Please check your email to confirm your account.</p>
            </div>
        </div>
    </div>
</section>